header{
    background-color: blue;
    height: 200px;
    color: rgb(0, 0, 0);
}
nav{
    background-color: yellow;
    height: 50px;
    color: rgb(0, 0, 0);
}
article{
    background-color: gray;
    height: 100px;
    color: rgb(0, 0, 0);
}
aside{
    background-color: aqua;
    height: 100px;
    color: rgb(0, 0, 0);
}
footer{
    background-color: burlywood;
    height: 100px;
    color: rgb(0, 0, 0);
}
