body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 20px;
  }
  

  