.panel-heading{
    background-color: rgb(222, 221, 221);
    font-variant: small-caps;
    padding: 0;
}
table{
    border: 1px solid black;
}
.panel-footer{
    background-color: rgb(222, 221, 221);
    font-variant: small-caps;
}