.label{
    border-radius: 5px;
}
.label-primary {
   background-color: rgb(5, 188, 255);
}
.badge.badge-warning{
    background-color: #ff6600;
}
.badge.badge-info{
    background-color: aqua;
    color: #ffffff;
}

header{
    background: linear-gradient(0, #fad353, #ff6600);
    height: 250px;
    color: rgb(0, 0, 0);
    position: relative;
}
.shopee-mail{
    position: absolute;
    left: 70px;
    bottom: 50px;
    font-variant: small-caps;
}
.shopee-mail>h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: aliceblue;
    letter-spacing: 0.3px;
    text-shadow: 1px dotted gray;
    margin: 0px;
}
.shopee-mail>h5{
    margin-top: 5px;
    letter-spacing: 0.5px;
}
header>img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
}
nav{
    background-color: rgb(55, 55, 55);
    height: 50px;
    text-decoration: none;
}
.nav-link{
    color: #e7e7e7;
}
.nav-link:hover{
    color: #ff6600;
}
.fa-solid{
    margin-right: 5px;
}
article{
}
.carousel-item>img{
    margin: 0 auto;
    height: 3000px;
    max-width: 5%;
}
.slide{

}
.img-thumbnail{
    height: 50px;
    max-width: 95%;
}
.badge{
    background-color: gray;
    color: #ffffff;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.slide>button{
    background-color: rgb(213, 213, 213);
    border: none;
}
.carousel-caption>p{
    padding-bottom: 220px;
    color: rgb(255, 0, 0);
}
.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pager{
    text-decoration: none;
}
.page-item{
    text-decoration: none;
}
.page-link{
    text-decoration: none;
}

.carousel-inner img{
    margin: 0 auto;
    height: 300px;
    max-width: 95%;
}
.poly-prod{
    text-align: center;
    padding: 5px;
    width: 15rem;
    background-color: rgb(245, 218, 218);
}
.poly-prod:hover{
    text-align: center;
    padding: 5px;
    width: 15rem;
    background-color: rgb(252, 160, 160);
    transform: translatey(-5px);
    transition: transform 0.6s ease;
}
.poly-cart{
    margin-top: 5px;
}
.poly-cart ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-variant: small-caps;
}
.poly-cart ul li a{
    text-decoration: none;
    color: gray;
}
.poly-cart ul li a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.panel-cart-cart{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding:0  10px 0 10px;
}
.panel-cart-input{
    border: 1px solid rgb(81, 80, 80);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.panel-heading{
    background-color: gainsboro;
    border: 1 solid gray;
    padding: 5px;
}
.panel{
    margin-bottom: 20px;
}
.poly-cart ul{
    font-variant:  small-caps;
    font-size: large;
}
.btn.btn-link {
    text-decoration: none;
}
.btn-link>strong{
    font-variant:  small-caps;
    font-size: 2rem;
    color: #202020;
    list-style: none;
}
.list-group a{
    color: gray;
    text-decoration: none;
}
.list-group a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
footer{
    background-color: #d7d7d7;
    text-align: center;
}

.panel-heading p{
    margin-bottom: 0;
}


